.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 20px 20px;
    padding: 30px;
    box-shadow: 6px 12px 18px 0px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: 6px 12px 18px 0px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 6px 12px 18px 0px rgba(0, 0, 0, 0.74);
    border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
}
.featuredTitle{
    font-size: 20px;
}
.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}
.featuredIcon.negative{
    color: red;
}
.featuredSub{
    font-size: 15px;
    color: grey;
}